/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Main Styling */
body,
html {
	font-family: 'lato', sans-serif;
	line-height: 1.7;
	background: #fff;
	color: #333;
}

ul {
	list-style: none;
}

a {
	color: #6a736f;
	text-decoration: none;
}

h1,
h2 {
	font-weight: 300;
	line-height: 1.2;
}

p {
	margin: 10px 0;
}

img {
	width: 100%;
}
/* Navbar */

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #c7d9d2;
	color: #6a736f;
	opacity: 0.9;
	width: 100%;
	position: fixed;
	top: 0px;
	height: 70px;
	padding: 0 30px;
}

.navbar a {
	color: #6a736f;
	padding: 10px 20px;
	margin: 0 5px;
}

.navbar .logo {
	float: left;
	font-family: 'great vibes', sans-serif;
	font-size: 35px;
}

.navbar ul {
	display: flex;

	list-style: none;
}

.navbar ul li a:hover,
.navbar ul li a.current {
	border-bottom: #a4b3ad 2px solid;
}

.navbar .logo {
	font-weight: 400;
}

/* Header */

.hero {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
		url(../media/profiel_sky.png) no-repeat center top/cover;
	height: 100vh;
	position: relative;
	color: #f4f4f4;
}

.hero .content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #f4f4f4;
	height: 100%;
	padding: 0 20px;
}

.hero .content h1 {
	font-size: 140px;
	font-family: 'Great Vibes', sans-serif;
}

.hero .content p {
	padding-bottom: 20px;
	line-height: 1.7em;
	font-size: 23px;
	max-width: 600px;
	margin: 20px 0 30px;
}

.hero::before {
	content: '';
	position: absolute;
	top: 0;
	µ: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
}

.hero * {
	z-index: 10;
}

/* ICONS */

.icons {
	padding: 30px;
}

.icons h3 {
	font-weight: bold;
	margin-bottom: 15px;
}

.icons i {
	background-color: #a4b3ad;
	color: #fff;
	padding: 1rem;
	border-radius: 50%;
	margin-bottom: 15px;
}

/* Contact */

#contactformulier {
	text-align: center;
}

/* voorwaarden */
#voorwaarden {
	padding-top: 50px;
	text-align: center;
}

/* Footer */

footer {
	text-align: center;
}

footer ul {
	max-width: 100%;
}

footer ul li {
	float: left;
	list-style-type: none;
	text-align: center;
	padding: 0 2rem;
}

footer span {
	float: right;
	padding-right: 2rem;
}

/* Contactform */

.callback-form {
	width: 100%;
	padding: 20px 0;
	display: flex;
	flex-direction: column;
}

.callback-form label {
	margin-bottom: 5px;
}

.callback-form .form-control {
	margin-bottom: 15px;
}

.callback-form input {
	width: 100%;
	padding: 4px;
	height: 40px;
	border: #fff 1px solid;
}

.callback-form input:focus,
.callback-form textarea:focus {
	outline-color: #c7d9d2;
}

.callback-form textarea {
	width: 100%;
	height: 10rem;
	font-family: 'lato', sans-serif;
	line-height: 1.7;
}

.callback-form .btn {
	padding: 12px 0px;
	margin-top: 20px;
}

/* Footer */

.footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	height: 200px;
}

.footer a:hover {
	color: #a4b3ad;
}

.footer a {
	color: #fff;
}

/* mobile */

@media (max-width: 768px) {
	.navbar {
		flex-direction: column;
		height: 120px;
		padding: 20px;
	}
	.navbar a {
		padding: 10px 10px;
		margin: 3px 3px;
	}
	.flex-items {
		flex-direction: column;
	}
	.flex-columns .column {
		flex: 100%;
		max-width: 100%;
	}
}
