/* RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

/* Main Styling */
body,
html {
	font-family: 'lato', sans-serif;
	line-height: 1.7;
	background: #fff;
	color: #333;
}

ul{
	list-style: none;
}

a{
	color: #6a736f;
	text-decoration: none;
}

h1,
h2,
{
	font-weight: 300;
	line-height: 1.2;
}

p {
	margin: 10px 0;
}

img{
	width: 100%;
}
/* Navbar */

#navbar {
	background: #c7d9d2;
	color: #6a736f;
	overflow: auto;
	position: fixed;
	top: 0;
	width: 100%;
}

#navbar a {
	color: #6a736f;
}

#navbar .logo {
	float: left;
	font-family: 'great vibes', sans-serif;
	font-size: 35px;
}

#navbar ul {
	float: right;
	list-style: none;
}

#navbar ul li {
	float: left;
}

#navbar ul li a {
	display: block;
	padding: 20px;
	text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
	background: #a4b3ad;
}

/* Showcase */

#showcase {
	background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
		url(../media/profiel_sky.png) no-repeat center top/cover;
	height: 100vh;
	position: relative;
	
}

#showcase .showcase-content {
	display: flex;
	flex-direction: column;	
	align-items: center;
	justify-content: center;
	color: #f4f4f4;
	height: 100%;
	
}

#showcase .showcase-content h1 {
	font-size: 140px;
	line-height: 1.2em;
	font-family: 'Great Vibes', sans-serif;
}

#showcase .showcase-content p {
	padding-bottom: 20px;
	line-height: 1.7em;
}

/* Home-info */

#over-mij {
	height: 800px;
	display: flex;
}

#over-mij .info-img {
	background: url(../media/profiel.jpg);
}

#over-mij .info-content {
	
	
}

/* Contact */

#contactformulier {
	text-align: center;
}

/* Aanbod */

.service {
	max-width: 33%;
	display: block;
	float: left;
	text-align: center;
}

.service span {
	text-decoration: solid;
}

/* voorwaarden */
#voorwaarden {
	padding-top: 50px;
	text-align: center;
}

/* Footer */

footer {
	text-align: center;
}

footer ul {
	max-width: 100%;
}

footer ul li {
	float: left;
	list-style-type: none;
	text-align: center;
	padding: 0 2rem;
}

footer span {
	float: right;
	padding-right: 2rem;
}
